html,
body {
    height: 100% !important;
}

h1 {
    font-family: 'Montserrat, sans-serif';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.navbar-custom {
    background-color: #000;
    position: fixed;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.navbar.navbar-custom .nav-link {
    color: #fff;
    padding: 0 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .75);
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

.navbar.navbar-custom .nav-link:after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
}

.navbar.navbar-custom .nav-link:hover {
    color: #fff;
}

.navbar.navbar-custom .nav-link:hover:after {
    width: 20px;
}

.navbar.navbar-custom .nav-item.active .nav-link {
    color: #fff;
}

.navbar.navbar-custom .nav-item.active .nav-link:after {
    width: 20px;
}

.overlay {
    background-color: #000;
    opacity: .85;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-overlay {
    background-image: url("../img/bg.jpeg");
    background-color: rgba(0, 0, 0, 0.85);
}


.home {
    height: 100%;
    color: #fff;
    position: relative;
}

.home .text {
    position: absolute;
    top: 60%;
    left: 300px;
    right: 300px;
    transform: translateY(-60%);
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    z-index: 1;
    text-align: center;
}

.home .text h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.3em;
}

.home .text h1 .bold {
    font-weight: 600;
}

.home .text p.lead {
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 0;
    font-size: 16px;
}

.home .cta {
    margin-top: 40px;
}

.home .cta .btn {
    padding: 15px 20px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.3px;
    font-weight: 600;
}

.home .cta .btn.btn-primary {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.home .cta .btn.btn-link {
    color: #fff;
}

.home .cta .btn.btn-link i {
    margin-right: 5px;
}

.home .cta .link {
    margin-top: 15px;
}

.home .cta .link a {
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
    text-transform: none;
    color: #999;
    font-weight: 600;
    letter-spacing: .3px;
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background: #ffbc00;
    display: block;
    margin: 0 auto 1rem auto;
}

#about {
    padding-bottom: 6rem;
    padding-top: 10rem;
}

#about .container-fluid {
    padding-left: 15rem;
    padding-right: 15rem;
}

#about .about-info {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

#about .text {
    border-left: 3px solid #ffbc00;
    padding: 0.8rem;
}

#about .image {
    width: 100%;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

#work {
    padding-bottom: 6rem;
}

#work .container-fluid {
    padding-left: 15rem;
    padding-right: 15rem;
}

#work .lead {
    padding-bottom: 6rem;
}

.items {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
    position: relative;
    background: #ffbc00;
    overflow: hidden;
}

.item::after {
    content: '';
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
    transform: scale(1.2);
}

.item:hover .item-text {
    opacity: 1;
    transform: translateY(0);
}

.item-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
    content: '';
    display: block;
    padding-top: 75%;
    overflow: hidden;
}

.item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
}

.item-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 300ms;
}

.item-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.item-text-title {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 5px 0 0 0;
}

.item-text-category {
    text-transform: uppercase;
    font-size: 1.2rem;
    opacity: 0.7;
    margin: 0;
}

#contact {
    padding-top: 2rem;
}

#contact .container-fluid {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 10rem;
}

#contact .lead {
    padding-bottom: 6rem;
}

#contact .social {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 12rem;
    margin: 0 auto;
    padding: 5px 0;
}

#contact .social .fa {
    color: #000;
}

#footer {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    background-color: #000;
    color: #fff;
}